/* normalizes container */

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

root {
  max-width: 550px;
}

.clicked {
  min-width: max-content;
  border-radius: 25px;
  border: 1px solid white;
  min-height: max-content;
  background-color: #282D35;
  display: flex;
  flex-direction: row;
  /* flex-flow: row-reverse; */
}

.not-clicked {
  min-width: max-content;
  border-radius: 25px;
  border: 1px solid white;
  min-height: max-content;
  background-color: #282D35;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}

/* additional classes */
.body--container {
  margin: 57px 0 0 27px;
}

.body--list-items {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.font-light {
  color: #272D35;
}

.background-light {
  background-color: white;
}

.background-dark {
  background-color: #282D35;
}

.body--list-items::marker {
  color: #61DAFB;
  font-size: 1.70em;
  display: inline-block;
  vertical-align: middle;
}

.body--title {
  color: white;
}

.border--light {
  border: 1px solid #282D35;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background-color: #61DAFB;
}

.empty {
  height: 20px;
  width: 20px;
}

.condensed-letter-spacing {
  letter-spacing: -0.05em;
}

img {
  margin: 20px 7px 20px 20px;
  width: 28px;
  height: auto;
}

.large-logo {
  position: absolute;
  width: 125px;
  transform: translate(300%, -150%);
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 550px;
  margin: auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  max-width: 550px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  min-width: 100%;
  background-color: #21222A;
}

nav>h3 {
  font-size: 22px;
}

.nav--facebook-blue {
  color: #61DAFB;
}

.nav--logo-grouping {
  display: flex;
  align-items: center;
}

.nav--react-course {
  color: white;
  margin: 0 27px 0 0;
  font-size: 16px;
  text-align: right;
}

ul {
  line-height: 40px;
  max-width: 400px;
}