/* normalizes container */

html {
  min-height: 100vh;
  min-width: 100vw;
}

root {
  max-width: 550px;
}

/* additional classes */
.body--container {
  margin: 57px 0 0 27px;
  height: 100%;
}

.body--list-items {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.body--list-items::marker {
  color: #61DAFB;
  font-size: 1.70em;
  display: inline-block;
  vertical-align: middle;
}

.body--title {
  color: white;
}

.condensed-letter-spacing {
  letter-spacing: -0.05em;
}

img {
  margin: 20px 7px 20px 20px;
  width: 28px;
  height: auto;
}

.large-logo {
  position: absolute;
  width: 125px;
  transform: translate(300%, -150%);
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 550px;
  margin: auto;
  padding: 0;
  background-color:#282D35;
  font-family: 'Inter', sans-serif;
  max-width: 550px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90px; 
  min-width: 100%;
  background-color: #21222A;
}

nav > h3 {
  font-size: 22px;
}

.nav--facebook-blue {
  color: #61DAFB;
}

.nav--logo-grouping {
  display: flex;
  align-items: center;
}

.nav--react-course {
  color: white;
  margin: 0 27px 0 0;
  font-size: 16px;
  text-align: right;
}

ul {
  line-height: 40px;
  max-width: 400px;
}



